#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rolling-image {
  animation: roll 5s linear infinite; /* Adjust the duration (5s in this example) as needed */
}


@media (max-width: 768px) {
  .bar-contain {
    position: relative;
  }
  .nav-container {
    position: absolute;
    top: 82px;
    right: 0;
    background-color: #0206156b;
    width: 50%;
    height: 1450px;
    transition: all 0.5s ease-in-out;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

}
